app-student-details{
  display: block;
  background: #fff;
}
button.btn{
  background-color: #96d04a;
  color: #ffffff;
  font-size: 0.6rem;
  padding: 10px 30px;
}
.students-wrapper{
  max-height: 300px;
  overflow-y: auto;
}
